@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

/* $border-radius: 20px; */
/*body {
  color: #0f0101;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url(https://raw.githubusercontent.com/khadkamhn/secret-project/master/img/background.jpg) center no-repeat;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19)
  /*background-color: #250b0b;
  
  background-image: url(https://unsplash.imgix.net/uploads%2F14115408840644deb16b0%2F2dc933e3?q=75&fm=jpg&auto=format&s=7f43646e4d26049c6c39890afb2e5ced);*/



.main-content {
  flex-grow: 1;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h2 {
  margin: 0 auto;
  font-size: 64px;
  margin-bottom: 16px;
}




.widget {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  height: 400px;
  width: 700px;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.weatherLocation{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 2rem;
  background-color: #fafafa;
  background: linear-gradient(to bottom, rgb(251, 251, 253), rgba(233, 222, 222, 0.993));
}

.weatherLocation button{
  background: #080705;
  color:#fff;
  border: 1px solid transparent;

  
}
.weatherLocation input:focus{
  outline: 0 none;
}

.widget .weatherIcon {
  flex: 1 100%;
  height: 60%;
 
  background: linear-gradient(to bottom, rgb(251, 251, 255), rgba(250, 245, 245, 0.7));
  font-family: weathericons;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 100px;
}
.widget .weatherIcon i {
  padding-top: 30px;
}
.widget .weatherInfo {
  flex: 0 0 70%;
  height: 40%;
  background: #d9fc40;
  border-bottom-left-radius: 20px;
  display: flex;
  align-items: center;
  color: rgb(7, 7, 7);
}
 .weatherInfo .temperature {
  flex: 0 0 40%;
  width: 100%;
  font-size: 40px;
  display: flex;
  justify-content: space-around;
}
 .weatherInfo .description {
  flex: 0 60%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}
 .description .weatherCondition {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 100;
}
 .description .place {
  font-size: 45px;
}
.widget .date {
  flex: 0 0 30%;
  height: 40%;
  background: rgb(126, 127, 212);
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(10, 10, 10);
  font-size: 40px;
  font-weight: 800;
}

p {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
p a {
  text-decoration: none;
  color: #E4D6A7;
  font-size: 10px;
}
input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
button {
  appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(rgb(26, 4, 68), white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(10, 10, 10), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}